@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

nav {
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#content {
    padding: 20px;
}


/* From Uiverse.io by ErzenXz */ 
.input {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0d1117;
    justify-content: left;
    border-radius:5px;
    gap: 7.5px;
  }
  
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: #21262c;
  }
  
  .value:focus,
  .value:active {
    background-color: #1a1f24;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0px;
    width: 100%;
    height: 3px;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 15px;
  }
  
  /* Tabela de pedidos */
  .table-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

  
.produtos-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.botoes-acao{
  background-color: #ffccbc !important;
  height: 7em;
  width: 7em;
  margin: 1px;
  border-color: #ffccbc;
  color: black;
}
.botoes-acao :hover{
  background-color: #d9b3a7;

}

.card-fixed-size {
  width: 100%; /* Faz com que o cartão ocupe toda a largura da coluna */
  max-width: 300px; /* Largura máxima para cada cartão */
  height: 250px; /* Altura fixa para todos os cartões */
}